@import "../colors";

.root {
  text-align: center;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  display: inline-flex;
  align-items: center;
  height: 36px;
  padding-left: 12pt;
  padding-right: 6pt;
  max-width: 540px;
  min-width: 395px;

  > * {
    margin-right: 6pt;
  }

  .gap {
    min-width: 24pt;
  }

  .close {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
  }

  .icon {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .textButton {
  }

  .button {
    margin-left: 6pt;
  }

  &.standard {
    background-color: $B50;
    border-color: $B20;
  }

  &.success {
    background-color: $G50;
    border-color: $G20;
  }

  &.destructive {
    background-color: $R40;
    border-color: $R20;
  }

  &.warning {
    background-color: #fff9e1;
    border-color: $Y05;
  }

  &.premium {
    background-color: $P50;
    border-color: $P20;
  }
}

:global(.rtl) {
  .root {
    padding-right: 12pt;
    padding-left: 6pt;

    .close {
      margin-left: unset;
      margin-right: auto;
    }

    > * {
      margin-right: unset;
      margin-left: 6pt;
    }

    .button {
      margin-left: unset;
      margin-right: 6pt;
    }
  }
}