:import {
  -st-from: "wix-ui-core/dist/src/hocs/Focusable/Focusable.st.css";
  -st-default: Focusable;
}

:import {
  -st-from: "wix-ui-core/dist/src/themes/backoffice/colors.st.css";
  -st-named: F00, B20, B50, D55;
}


.root {
  -st-extends: Focusable;
  -st-states: selected;
  /* Positioning */
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
 
  /* Sizing */
  flex-basis: 100%;
  height: 36px;
  box-sizing: border-box;
  overflow: hidden;

  /* Border & Spacing */
  background: transparent;
  border: solid 2px transparent;
  padding: 0 24px;

  

  /* Disable native focus */
  outline: none;
}

.root:hover {
  background-color: value(B50);
}

.root:disabled {
  background-color: transparent;
}

.root:focus-visible {
  box-shadow: 0 0 0 3px value(F00);
  z-index: 1000;
  border-radius: 6px;
}

/* Selected styles */ 

.root:selected {
  border-radius: 6px;
  border-color: value(B20);
  z-index: 1000;
}

.root:selected:disabled {
  border-color: value(D55);
}


.root:disabled:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255,255,255, .8)
}