:vars {
  B30: #4eb7f5;
  B50: #eaf7ff;
}

.root {
  -st-states: checked;
  /* Positioning */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  height: 36px;
  background: transparent;

  /* Border & Spacing */
  padding: 0 24px;
  border: none;

  /* Disable native focus */
  outline: none;
}

.root:checked {
  border-radius: 6px;
  box-shadow: 0 0 0 2px value(B30);
  z-index: 1000;
}

.root:hover {
  background-color: value(B50);
}

/* Additional classes */

.prefix {
  margin: 0 6px 0 -6px;
}

.input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  cursor: inherit;
}